.button {
		background: #ffffff;
		opacity: 50%;
		color: #ffffff;
		display: block;
}
.body {
		background-color: #ffffff;
		display: block;
		font-family: 'Gayathri', sans-serif;
		color: #000000;
		float:right;
		width: 58%;
  		padding-left: 65px;
  		padding-right: 40px;
  		padding-bottom:40px;
  		padding-top: 25px;
  		margin-top: 25px;
  		margin-right: 120px;
  		border-color: #DCDCDC;
  		border-width: 1px;
  		border-style: solid;
}
.aside {
		background-color: #ffffff;
		font-family: 'Gayathri', sans-serif;
		color: #000000;
		display: block;
		width: 18%;
  		padding-left: 15px;
  		padding-right: 15px;
  		margin-top: 25px;
  		margin-left: 15px;
  		float: left;
  		border-color: #DCDCDC;
  		border-width: 5px;
  		border-style: double;
}
.blogphoto{
		border-radius: 15px;
		margin-left:35px;
		margin-right:35px;
}
.footer{
		background-color: #ffffff;
		display: block;
		font-family: 'Gayathri', sans-serif;
		color: #000000;
		float: bottom;
		width: 96%;
  		padding-left: 25px;
  		padding-right: 25px;
  		margin-top: 25px;
  		margin-right: 40px;
  		border-color: #DCDCDC;
  		border-width: 1px;
  		border-style: solid;
}